  <ul class="posts">
  <% @posts.each do |post| %>
      <li>
        <div class="title"><a href="<%= post.title %>"><%= post.title %></a></li></div>
        <div class="tagline" title="<%= post.created_at %>">submitted <%= time_ago_in_words post.created_at %> ago</div>
    <% end %>
  </ul>
